@import url("https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap");
.gif-title {
  font-family: "ZCOOL KuaiLe", cursive;
}

.gif-card {
  background-color: white;
  margin: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  justify-content: center;
  align-content: center;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 15px;
  text-align: center;
}
.gif-card-image {
  width: auto;
  max-height: 170px;
}
